body {
    background-color: bisque;
}
header {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}
main {
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
}